#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_Droxned += debian/examples/*
DEB_INSTALL_MANPAGES_Droxned += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Droxned USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Droxne-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Droxne-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/Droxned:
	chmod +x $(cdbs_curdestdir)usr/bin/Droxned
binary-post-install/Droxne-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Droxne-qt
